
        .footer{
            background-color: #212529;
            color: white;
            padding: 20px;
            text-align: center;
            margin-top: 50px;
        }

        .nav-link.active{
            color: yellow !important;
            font-weight: bold;
        }